<div class="container">
<app-cockpit
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"
></app-cockpit>
  <hr>
  <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
  <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
      [svrElement]="serverElement"
      [name]="serverElement.name"></app-server-element>
    </div>
  </div>
</div>
